@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mirza';
}

body {
    background: cornflowerblue;
    color: black;
    align-items: center;
    justify-content: center;
}

#start-test {
    background: #bf9bf7;
    box-shadow: 1px 2px 1px 0 grey;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

button,#testid{
    font-size: x-large;
    width: 200px;
    margin: 1rem auto;
}
#testid {
    width: 500px;
    box-shadow: 1px 2px 0 0 grey;
}

#container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#admin-button{
    background: black;
    color: white;
}

.question-section {
    width: 80%;
    height: 600px;
}

#heading {
    font-size: 50px;
    color: white;
    padding: 5px;
    width: 98.4vw;
    background: black;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75vw;
    height: 500px;
    margin-top: 20px;
}

#login {
    width: 90%;
    height: 90%;
}

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

#login {
    margin: auto;
    justify-content: center;
    align-items: center;
}

#contactForm {
    display: flex;
    background-color: #00000066;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 56vh;
    width: 28vw;

}

.adminbuttonmain{
    /* display: flex; */
    margin: 1rem auto;
    flex-direction: column;
    width: 600px;
}

#start-test-button,#testid {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1.7em;
    color: black;
}

input {
    height: 45px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

input:hover,
input:focus,
input:active {
    color: black;
}


#submit-button {
    width: 100px;
    padding: 10px;
    height: 45px;
    font-size: 20px;
    border-shadow: 1px 2px 0 0 grey;
    border-radius: 10px;
    background: slateblue;
    color: white;
}

#login p{
    font-size: 1.5rem;
}

button{
    border-radius: 1rem;
}
#start-test-button:hover {
    background: rgb(137, 218, 137);
}
#admin-button:hover{
    background: tomato;
}

#contactForm{
    width: 500px;
    margin: auto;
    background: #bf9bf7;
    box-shadow: 1.5px 3px 0 0 grey;
}

#contactForm label{
    margin: 1rem;
}
#contactForm input{
    width: 400px;
    font-size: 1.5rem;
}
#contactForm button{
    margin: 2rem;
}

@media only screen and (max-width: 655px) {
    #testid{
        width: 300px;
    }
    .adminbuttonmain{
        width: 375px;
    }
    #contactForm input{
        width: 300px;
    }
    #contactForm{
        width: 400px;
        margin: 0;
    }
}